
@model IEnumerable<Developeram.DomainModel.Models.Group>
@using Developeram.DomainModel.Models

<h3 class="subtitle">دسته بندی مطالب</h3>
<div class="box-category">
    <ul id="cat_accordion">

        @{
                        IEnumerable<Article> articles = ViewBag.Articles as IEnumerable<Article>;
                        foreach (var item in Model)
                        {
                <li>
                    <a href="/Article/@item.TitleUrl/@item.Title.Replace(" ","-")">@item.TitleUrl </a> <span class="down"></span>
                    @if (articles.Any(a=>a.GroupId == item.GroupId))
                    {
                        <ul>
                            @foreach (var subGroup in articles.Where(a => a.GroupId == item.GroupId))
                            {
                                <li><a href="/@item.TitleUrl/@subGroup.ArticleId/@subGroup.TitleUrl.Replace(" ","-")">@subGroup.Title</a></li>
                            }
                        </ul>
                    }

                </li>
            }

        }
    </ul>
</div>


