@{
    ViewBag.Title = "درباره ما";
}

@section StylesMeta{
    <meta name="description" content="صفحه اصلی وب سایت دولوپرم. این وب سایت  در جهت قرار دادن آموزش برنامه نویسی پیاده سازی شده است">
}

<h1 class="subtitle">درباره دولوپرم</h1>
<p>
    وب سایت دولوپرم در زمستان 1398 پیاده سازی شده است
</p>
<h2>اهداف دولوپرم</h2>
<p>
    این وب سایت برای کسانیکه می خواهند با دنیای برنامه نویسی کسب درآمد کنند ایجاد شده است

</p>
<h3>
    ارزش محتویات دولوپرم
</h3>
<p>
    منبع اصلی این وب سایت سایت معروف و پر طرفدار
    <b> W3schools</b> می باشد
    و به همین خاطر می توان گفت که محتویات این سایت قابل استناد می باشد
</p>