@model IEnumerable<Developeram.DomainModel.Models.Group>

@{
    ViewBag.Title = "Home Page";
}


@section Slider{
    @Html.Action("Slider")

}

    <div class="row">


        @foreach (var item in Model)
        {
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/Article/@item.TitleUrl/@item.Title.Replace(" ","-")">
                        <img src="" alt="@item.Title" title="@item.Title" />
                    </a>  
                </div>
                <div class="panel-footer">@item.Title</div>
            </div>
        </div>
        }

    </div>
