@model IEnumerable<Developeram.DomainModel.Models.Group>

@{
    ViewBag.Title = "صفحه اصلی";
}


@section StylesMeta{
    <meta name="description" content="صفحه اصلی وب سایت دولوپرم. این وب سایت  در جهت قرار دادن آموزش برنامه نویسی پیاده سازی شده است">
}

<h1 class="subtitle">صفحه اصلی سایت دولوپرم</h1>

@section Slider{
    @Html.Action("Slider")

}



    <div class="row">
        <h2 class="subtitle"> آخرین اخبار</h2>
        @Html.Action("TopNews")

    </div>

    <div class="row">
        <h2 class="subtitle"> پر بازدیدترین اخبار</h2>
        @Html.Action("LastNews")
    </div>
